:root{
    /* Colors Variables */
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-grey: hsl(217, 12%, 63%);
    --clr-dark-blue: hsl(213, 19%, 18%);
    --clr-very-dark-blue: hsl(216, 12%, 8%);
    /* Fonts Variables */
    --font-overpass: "Overpass", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--clr-white);
    font-family: var(--font-overpass);
    background-color: var(--clr-very-dark-blue);
}
.container{
    background-color: var(--clr-dark-blue);
    padding: 3%;


}

.star{
    background-color: var(--clr-light-grey);
    border-radius: 50%;
}